
{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <!-- 일정 -->
    <h2 class="border-bottom py-2">{{ schedule.subject }}</h2>
    <div class="card my-3">
        <div class="card-body">
            <!-- 질문 내용 -->
            <div class="card-text" style="white-space: pre-line;">{{ schedule.content }}</div>
            <div class="d-flex justify-content-end">
                <div class="badge bg-light text-dark p-2">
                    <!-- 일정의 시작일자 -->
                    {{ schedule.start_date|datetime }}
                </div>
                <div class="badge bg-light text-dark p-2">
                    ~
                </div>
                <div class="badge bg-light text-dark p-2">
                    <!-- 일정의 종료일자 -->
                    {{ schedule.end_date|datetime }}
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <div class="badge bg-light text-dark p-2">
                    <!-- 일정의 작성일자 -->
                    작성일 {{ schedule.create_date|datetime }}
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <div class="badge bg-light text-dark p-2">
                    <!-- 작성자 -->
                    {{ schedule.creator.username }}
                </div>
            </div>
            <div class="my-3">
                {% if g.user == schedule.creator %}
                    <a href="{{ url_for('schedule.delete', schedule_id=schedule.id) }}" class="delete btn btn-sm btn-outline-secondary"">삭제</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
